﻿@{
    Layout = "_CustomLayout";
}



<div class="container">


    <div class="row">
        <div class="col-12">
            <h1 class="title text-center">PHOTO API VIEW PAGE</h1>
            <div>
                <input id="js_search_box" type="text" class="form-control my-3" placeholder="Searching photos...">
            </div>
        </div>
    </div>


    <div id="loading-spinner" class="row">
        <div class="col-12">
            <div class="spinner-border" role="status">
            </div>
            <span>SEARCHING PHOTOS</span>
        </div>
    </div>


    <div id="row-no-photos" class="row d-none">
        <div class="col-12">
            No photos founded!
        </div>
    </div>

    <div id="list-of-photos" class="row d-none">
    </div>

</div>

<div class=" container mt-4">

    <h2>CONTACT US:</h2>

    <form id="messageForm">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control" id="message" name="message"></textarea>
        </div>
        <button type="button" class="btn btn-primary mt-4 mb-4" onclick="sendMessage()">SEND</button>
    </form>

</div>
   



@section Scripts {

    <script type="text/javascript">

        loadPhotos();

        document.getElementById("js_search_box").addEventListener('keyup', searchPhotos);

        function searchPhotos() {
            let searchString = document.getElementById("js_search_box").value;

            loadPhotos(searchString);
        }


        

        function loadPhotos(searchParam) {
            axios.get('/api/PhotosApi/GetPhotosByTitle', {
                params: {
                    Title: searchParam

                }
            }).then((res) => {

                let divNoPhoto = document.getElementById("div-no-photo");
                let loadingSpinnerElement = document.getElementById("loading-spinner");
                let listOfPhotosElement = document.getElementById("list-of-photos");

                if (res.data.length == 0) {

                    divNoPhoto.classList.remove("d-none");
                    loadingSpinnerElement.classList.add("d-none");

                } else {
                    loadingSpinnerElement.classList.add("d-none");
                    listOfPhotosElement.classList.remove("d-none");

                    listOfPhotosElement.innerHTML = "";

                    res.data.forEach(photo => {


                        listOfPhotosElement.innerHTML +=
                            `
                                    <div class="col-12 col-md-4 p-2" id="${photo.id}">

                                        <div class="card photocard text-center ">

                                            <img src="${photo.imageSrc}" class="card-img-top" alt="Immagine ${photo.id}">
                                            <div id="card_` + photo.id + `" class="card-body">
                                               <h5 class="card-title">${photo.title}</h5>
                                               <p class="card-text">${photo.description}</p>
                                               <p class="card-text">
                                                 ${photo.categories.map(category => category.name).join(", ")}
                                               </p>

                                            </div>
                                        </div>

                                    </div>
                                    `;

                 });
                }

            })
        }


        function sendMessage() {
            let email = document.getElementById('email').value;
            let message = document.getElementById('message').value;

            if (!email || !message) {
                alert('Insert Email and message');
                return;
            }

            let apiUrl = `/api/MessageApi/StoreMessage`;

            const jsonData = {
                email: email,
               text: message,
            };

            axios.post(apiUrl, jsonData)
                .then(function (response) {
                    console.log(response.data);
                    alert('Message send with success!');

                    document.getElementById('email').value = '';
                    document.getElementById('message').value = '';
                })
                .catch(function (error) {
                    alert('Error! Message not delivered');
                    console.error(error);
                });
        }


</script>

}