﻿@{
    Layout = "_CustomLayout";
}

@model Photo

<div class="container photodetail text-center w-75">

    <div ><h1 class="mt-2 mb-2 text-center">DETAILS OF: @Model.Title</h1></div>


    <div class="singleimage mt-2 mb-2">

        <img src="@Model.ImageSrc">
    </div>

   

        <p>Description: @Model.Description</p>

        <p>
           Categories:


            @if (Model.categories != null && Model.categories.Count > 0)
            {
                @string.Join(", ", Model.categories.Select(i => i.Name))
            }
            else
            {
                <span> No categories!!! I am a White paper!!!</span>
            }
        </p>

 </div>

</div>