﻿@{
    Layout = "_CustomLayout";
}

@model PhotoFormModel

<h1 class=" mt-4 text-center">Update Photo</h1>

<div class="container text-center mt-4 mb-4 w-50">

    <form asp-controller="Photo" asp-action="Update" asp-route-id="@Model.Photo?.Id" method="post" enctype="multipart/form-data" class="text-center">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Photo.Id" />
        <div class="mt-4 mb-4">
            <strong>Photo Title:</strong>
            <input type="text" class="form-control" asp-for="Photo.Title">
            <span asp-validation-for="Photo.Title" class="text-white"></span>
        </div>


        <div class="mt-4 mb-4">
            <strong>Photo description:</strong>
            <input type="text" class="form-control" asp-for="Photo.Description">
            <span asp-validation-for="Photo.Description" class="text-white"></span>
        </div>

        <div class="mt-4 mb-4">
            <strong>Categories:</strong>
            <select asp-for="SelectedCategoriesId"
                    multiple="multiple"
                    size="5"
                    class="form-control mb-2 mr-sm-2 ml-sm-3 leftList"
                    asp-items="@Model.Categories">
            </select>
        </div>


                <div class="mt-4 mb-4">
                    <strong>Immagine:</strong>
                    <input asp-for="Photo.ImageUrl" class="d-block w-100" />
                    <span asp-validation-for="Photo.ImageUrl" class="text-danger"></span>
                </div>

        <div class=mt-4 mb-4">
                    <img src="@Model.Photo.ImageSrc" height="200">
                    <label asp-for="ImageFormFile">Image file</label>
                    <input type="file" asp-for="ImageFormFile" />
                    <span asp-validation-for="ImageFormFile" class="text-error"></span>
                </div>

   


       
        <button type="submit" class="btn btn-success mt-4 mb-2">Update now</button>
    </form>


</div>

