body {
    font-family: 'Roboto', sans-serif;
background-color: #D8DBE2;
}

.title {
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left,#369F71, #06331F);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.titlecard {
    font-size: 30px;
    font-weight: 700;
    background-image: linear-gradient(to left,#369F71, #06331F);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.shadowborder {
    box-shadow: 12px 12px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 12px 12px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 12px 5px 0px rgba(0,0,0,0.75);
}

.gold{
    color: gold;
}

.red{
    color: red;
}

.green{
    color: forestgreen
}

td img{
    width:200px;
}

.jumbotron {
    height: 300px;
    background-image: url(../img/jumbotron.jpeg);
    background-size: cover;
    background-position: center bottom;
   }

.photocard {
    aspect-ratio: 2/3;
  }

.photocard img{
height:400px;
position:center;

}

.singleimage img {
    width: 80%;
}

.github{
   font-size:50px;
   color:forestgreen;
}




