
<footer class=" d-flex  justify-content-between align-items-center footer-dark bg-dark green ">

    <div class="container  d-flex  justify-content-between align-items-center">

        <h3 class="col-md-4">© 2023 <span class="gold">DiegoG82</span> with <span><i class="fa-solid fa-heart red"></i></span></h3>

        <ul class="nav col-md-4 justify-content-end align-items-center">

            <li class="nav-item nav-link active">

                <a href="https://github.com/diegoG82"><i class="fa-brands fa-github github"></i></a>

            </li>
        </ul>

   </div>
   

</footer>
