
<header>

    <nav class="navbar navbar-expand-lg mb-4 navbar-dark bg-dark green">


       <div class="container">
            <a class="navbar-brand gold" href="https://github.com/diegoG82">DiegoG82</a>


            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

                <div class="navbar-nav">
                    <a class="nav-item nav-link green" asp-controller="Home" asp-action="Index">Photo Album</a>
                    <a class="nav-item nav-link green" asp-controller="Photo" asp-action="Index">Admin/Photo List</a>
               
                    <partial name="_LoginPartial" />
                </div>

            </div>
       </div>
       

    </nav>

</header>
